livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
mem0ai
duckduckgo-search
langchain
langchain_community
langchain-google-genai
langchain-text-splitters
requests
python-dotenv
opencv-python
numpy
flask
flask-socketio
pandas
openpyxl
gtts
google-generativeai
PyPDF2
SpeechRecognition
simpleaudio
pydub
ffmpeg-python
chromadb
faiss-cpu